
html{
    font-size: 15px;
}
.display-page{
    padding: 1% 4%;
}



/* ************************************************ */

/* filters part  */
.display-page .filters{
    max-width: 300px;
    width: 20vw;
    min-width: 240px;
    height: fit-content;
}

.display-page .motion-div{
    position: absolute;
    background-color: black;
    color: white;
    z-index: 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

.display-page  .content{
    background-color: white;
    color: black;
    left: 15px;
    width: fit-content;
    position: absolute;
    top:50px;
}

.display-page .toggle-btn{
    position: absolute;
    z-index: 2;
    font-size: 1.6rem;
    left: 12px;
    top:2px;
    border-radius: 50%;
}

/* ******************************************************** */


.display-page .products{
    /* width: 75%; */
}

.products .cards{
    display: flex;
    column-gap: 2rem;
    row-gap: 3rem;
    flex-wrap: wrap;
}

.products .card{
    padding: 4% 1%!important;
    box-shadow: inset 10px 10px 50px -33px blue;
    padding: 1rem 1rem 1rem 1rem;
    min-height: fit-content;
    max-width: 270px;
    width: 18vw;
    min-width: 220px;
}

.products .card img{
   width: 11vw;
   height: 14vw;
   min-width: 130px;
   max-width: 190px;
   min-height: 160px;
   max-height: 220px;
   padding: 0 0 0 auto;
}

.products .card .title{
    display: flex;
    font-size:1.1rem;
    font-weight:600;
    color: #2D323D;;
    justify-content: center;
    align-items: flex-end;
}

.sample{
    border: 1px solid black;
}

.red{
    color: red;
}

.products .card .fa-heart{
    position: absolute;
    right: 35px;
    font-size: 1.2rem;
}

.products .card .price{
    font-size: 1.2rem;
    font-weight: bold;
    color: #463F5F;
}

.products .heart1{
    border: none;
    background-color: none;
    height: 0px;
    width: 0px;
}

.products .card-button{
    --bs-gutter-x:0px;
}




/* login file */
.login div{
    background-color: #FCFCFC;
    padding: 5%;
}
.login .img1 div{
   padding: 7% 10%;
}
.login .img1 img{
    height: 350px;
    width: 350px;
}

.login .heading1{
    font-weight: bolder;
    font-weight: bold;
    font-family: 'Work Sans';
    color: #244152;
    opacity: 1;
}



.login .right label{
    padding-top: 10px;
    color: #B7BDC1;
    font-weight: bold;
}

.login .right input{
    height: 30px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #E8E9EA;
    border-radius: 2px;
    opacity: 1;
}

.login .right a{
    color: #34B9FF;
    opacity: 1;
    font-weight: 500;
}

.login .signin{
    margin-top: 20px;
    box-shadow: 0px 10px 10px #463F5F33;
    border-radius: 4px;
    background: #463F5F 0% 0% no-repeat padding-box;
    opacity: 1;
    color:white;
    height: 50px;
}

.login .signin:hover{
    background-color: white;
    color: black    ;
}

.login .signin i{
    margin-left: 3px;
}

.login .signup{
    padding-left: 0px;
}

.login .signup a{
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
}


/* sign up */

.signup .content  label{
    color: #B7BDC1;
    font-weight: bold;
}

.signup .content  div{
    margin-left: 0px;
    padding-left: 0px;
}

.signup .content  .fields input{
    height: 30px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #E8E9EA;
    border-radius: 2px;
    opacity: 1;
    width: 160px;
}

.signup .content .fields{
    padding: 0px;
    margin: 0px;
}

.signup .content .email{
    margin-top: -15px;
}

.signup .content .email input{
    height: 30px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #E8E9EA;
    border-radius: 2px;
    opacity: 1;
    width: 340px;
}

.signup .login .content a{
    color: #34B9FF;
    opacity: 1;
    font-weight: 500;
}

.signup .signINbtn{
    text-decoration: none;
}
.signup .content p{
    padding-top: 0px;
    margin-top: -15px;
}

.error-last{
    margin: 0px!important;
}



/* no Route css */
.noroute{
    background-color: white;
}

.noroute .main div:nth-child(1){
    height: 470px;
    justify-content: end;
    align-items: end;
    display: flex;
}
.noroute .main div:nth-child(2){
    padding-left: 5%;
    height: 470px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.noroute .main button{
    margin-top:20px;
    box-shadow: 0px 10px 10px #463F5F33;
    background-color: #463F5F;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    width: 256px;
    height: 56px;
}

.noroute .main button:hover{
    background-color: white;
    color: #463F5F;
}

@media (min-width: 768px) {
    .display-page .motion-div{
        display: none;
    }
    .display-page .filters1{
        width:30%;
    }
    .display-page .products{
        margin-left: 4%;
    }
    .filters{
        display: block!important;
      }
}

@media (max-width: 768px) {
    .display-page .filters1{
        display: none;
    }
    .display-page .motion-div{
        display: block;
    }

    .display-page .products{
        margin-left: 60px;
    }
}



